[submodule "libmesh"]
    path = libmesh
    url = git@github.com:ttruster/libmesh.git
    ignore = dirty
    branch = element-neighbor-pairing
[submodule "large_media"]
    path = large_media
    url = ../../idaholab/large_media
[submodule "petsc"]
    path = petsc
    url = https://gitlab.com/petsc/petsc.git
